html, body {
  height: 100%;
  width: 100%;
  /* font-family: sans-serif; */
  text-align: center;
  font-family: "Port Lligat Sans", sans-serif;
  font-weight:400;
  color: #7B601C;
  background-image: url('/image/background.png');
  /* cursor: url('/image/paw.gif'), auto;  */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
 width: 100px; 
}

.shoe{
  width: 50%;
  background: #eee;
  padding: 2em;
  margin: 1em auto;
  border-radius: 1em;
}

footer {
  width: 50%;
  font-size: 0.8rem; 
  margin: 3em auto;
}

section{
  padding: 1rem;
}

img {

}

a {
  color: inherit;
  text-decoration: inherit;
  /* cursor: url('/image/pawclick.png'), auto; */
}

h1 {
  padding-top: 100px;
  font-family: "Port Lligat Slab", serif;
  font-size: 60px;
}

h2 {
  padding, margin: 0;
  font-family: "Port Lligat Slab", serif;
}

p {
  padding, margin: 0;
}

/* container for all articles */
#container {
  width: 70%;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  justify-items: center;
}

/* container for each article */
div {
  display: flex;
  /* justify-content: center; */
  width: 612px;
  flex-direction: column;
  align-items: center;
  
  /* margin: 228px 0 50px 0; */
  /* padding: 10px; */
  text-align: left;
  align-items: flex-start;
}

article {
  /* color: red; */
  
}

.article {
  margin: 500px 0 50px 0;
}

.article-container {
  margin: 80px 0;
}

.cat-holder {
  background-color:rgb(255, 255, 255);
  align-items: center;
  
}

.cat-holder img {
  object-fit: cover;
  width: 578px;
  max-height: 280px;
  padding: 20px 0;
}

.info-box {
  display: flex;
  /* height: 178px; */
  height: 170px;
  /* background-color:rgb(255, 255, 255); */
  /* margin: 16px; */
  align-items: center;
}

.info {
  width: 578px;
  /* margin-top: -178px; */
  padding: 0 16px 16px 16px;
  display: block;
  background-color:rgb(255, 255, 255);
}

.date, .title {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.description {
  margin-block-start: 0.5em;
  margin-block-end: 1em;
}

.title {
  padding, margin: 0;
}

.paper {
  /* margin-top: -36px; */
  /* margin-top: 100px; */
  /* margin-bottom: -178px; */
  background-color: transparent;
}

.paper img {
  width: 613px;
  
}

